{% extends "../base.html" %}

{% block content %}
<main>
    <section class="page">
        <section id="profile">
            <h2>プロフィール</h2>
            <ul>大学：名古屋工業大学 情報工学科 佐藤・坂上研究室</ul>
            <ul>居住地：岐阜・名古屋</ul>
            <ul>趣味：深夜ラジオ・ライブ</ul>
        </section>
        <section id="skill">
            <h2>スキル</h2>
            <h3>Java</h3>
            <li>経験：2019年9月~</li>
            <li>用途：大学課題・競プロ</li>
            <h3>Unity</h3>
            <li>経験：2021年5月~</li>
            <li>用途：インターン・ハッカソン</li>
            <h3>Python</h3>
            <li>経験年数：2020年7月~</li>
            <li>用途：機械学習・データ分析</li>
            <h3>Django</h3>
            <li>経験：2021年9月~</li>
            <li>用途：ポートフォリオ・ビジコン・趣味</li>
            <h3>JavaScript</h3>
            <li>経験：2020年4月~</li>
            <li>用途：ポートフォリオ・ビジコン</li>
            <h3>Ruby on Rails</h3>
            <p><a href="https://web-camp.io">DMM webcamp</a>で学ぶ．</p>
            <p>Rubyはforやifの書き方を押さえ，FizzBuzzを作成する程度を学んだ．</p>
            <p>RailsはMVCモデルの考え方，基本的なRailsコマンドを学んだ後，当該サイト内のブログアプリを作成した．
                まだ全てを受講しきれていないので，来年度の前期には終了したい．
            </p>
            <h3>Vue</h3>
            <p>裸一貫で申し込んだJPhacksでチーム内のフロントエンドのメンバーに教わった．</p>
            <p>当時はJavaとHTML，CSSしか学んでおらず，かなりの部分をその人に担当してもらった．
                その後，Career SelectでToDoアプリを作成した際に，少し余裕があったのでVueを使って実装してみたが，
                Vuetifyを使ってアイコンやスライドバーを取り入れる程度しか学ぶことができなかった．
            </p>
        </section>
        <section id="works">
        </section>
    </section>
</main>
{% endblock content %}